<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.mapper.BookmarkMapper">

    <insert id="save" parameterType="bookmark" useGeneratedKeys="true" keyProperty="id">
        insert into sys_bookmark(icon,href,name,user_id)
        values(#{icon},#{href},#{name},#{userId})
    </insert>

    <insert id="saveByBatch">
        insert into sys_bookmark(icon,href,name,user_id)
        values
        <foreach collection="list" item="b" separator=",">
            (#{b.icon},#{b.href},#{b.name},#{b.userId})
        </foreach>
    </insert>


    <select id="queryPageList" resultType="bookmark" parameterType="bookmark">
        select * from sys_bookmark where 1=1
        <if test="userId != null">and user_id = #{userId}</if>
        <if test="name != null and name != ''">and name like concat("%",#{name},"%")</if>
    </select>

    <delete id="deleteByUserId" parameterType="long">
        delete from sys_bookmark where user_id = #{userId}
    </delete>
</mapper>