<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.mapper.CategoryMapper">

    <insert id="save" parameterType="category" useGeneratedKeys="true" keyProperty="id">
        insert into sys_category(name,user_id)
        values(#{name},#{userId})
    </insert>

    <select id="queryList" parameterType="category" resultType="category">
        select * from sys_category where 1=1
        <if test="userId !=null">and user_id = #{userId}</if>
        <if test="name !=null and name != ''">and name = #{name}</if>
    </select>

    <delete id="delete" parameterType="long">
        delete from sys_category where id = #{id}
    </delete>

    <update id="resetNoteCategory" parameterType="map">
        update sys_note set category_id = #{refId} where category_id = #{currId}
    </update>
</mapper>